@import "tailwindcss";
/* @import url('fonts.googleapis.com'); */


.h-fill-available {
    height: -webkit-fill-available;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
  
}

:root {
    --swiper-navigation-color: #DB4444;
   
}

 .no-scrollbar::-webkit-scrollbar {
     display: none;
 }